.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
*.env
node_modules
.next
staticfiles
media
*.log
.DS_Store
venv
.venv
env
coverage
.coverage
htmlcov
*.sqlite3
apps/mobile
apps/django-api/db.sqlite3
apps/django-api/quickmart_output
apps/django-api/*.py
scraper
shopping_list
shopping_list_ui
csv
