asgiref==3.7.2
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
Cython==3.0.4
distlib==0.3.6
Django==4.2.2
django-phonenumber-field==8.4.0
filelock==3.12.0
Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
fonttools==4.43.1
greenlet==3.2.4
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.5
MarkupSafe==3.0.3
matplotlib==3.8.0
mod-wsgi==4.9.4
numpy==1.26.1
packaging==23.2
pandas==2.1.1
patsy==0.5.3
phonenumbers==9.0.20
Pillow==10.1.0
platformdirs==3.5.1
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.32.5
scipy==1.11.3
segno==1.5.2
six==1.16.0
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.4.4
statsmodels==0.14.0
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.5.0
virtualenv==20.23.0
Werkzeug==3.1.4
